body {
  background-color:#523A34;
  text-align:center;
}

button {
  background-color:#E5B25D;
  font-family: 'oswald';
  color:#E2E8C0;
  width:200px;
  padding:10px;
  font-size:15px;
  border:none;
  margin-top:50px;
  border-radius:8px;
  text-transform:uppercase;
}

button:hover {
  background-color:#B87D4B;
}

h1 {
  font-family: 'oswald';
  color:#E2E8C0;
  font-size:44px;
  font-weight:normal;
}

h2 {
  font-family: 'oswald';
  color:#E2E8C0;
  font-weight:normal;
}
